<!DOCTYPE html>

<html>

    <head>
          <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
       <div class="main-content">
            {{>header}}
            <img class = "portrait" src="./img/avatar.jpg" alt="an image of me i guess">
       </div>
          
        {{>footer}}
    </body>
</html>
