<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
       <div class="main-content">
        {{>header}}
        <h3>{{message}}</h3>
       </div>
         {{>footer}}
    </body>
</html>