.portrait {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
}

body {
    color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 650px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}
footer {
    margin: 20px 0px;
    padding: 10px 0px;
    color: #888888;
    border-top: 1px solid #333333;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    text-decoration: none;
    color: #888888;
    margin-top:20px;
    margin-right: 16px;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

input {
    padding: 10px
}

button {
    color: white;
    background-color: #333333;
    padding: 10px;
    border: none;
    cursor: pointer;
}